# Environment Files
.env
backend/.env

# Node.js
node_modules/
backend/node_modules/
package-lock.json

# Python
backend/venv/
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db
*.log
*.txt
